pipeline/PL_data_ingestion_json_v6.json
{
	"name": "PL_data_ingestion_json_v6",
	"properties": {
		"description": "Ingest webstore sales data to datalake",
		"activities": [
			{
				"name": "Get Source to target Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetSourceToTargetInfo]",
						"storedProcedureParameters": {
							"SourceSystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Systemcode",
									"type": "Expression"
								}
							},
							"Stage": {
								"type": "String",
								"value": {
									"value": "@variables('v_stage')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_source_to_target_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Source to Target Info",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Source to target Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Source to target Details').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy web store online sales data_copy1",
							"description": "Copy online sales data from the webstore and ingest to datalake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.0:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_abls_buylot_files_json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().SourceRelativePathSchema",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceTechnicalName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_adls_data_engineering_folders_json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().TargetContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@concat(item().TargetRelativePathSchema,'/',formatDateTime(pipeline().parameters.SnapshotDate,'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().TargetTechnicalName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Success Failure_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy web store online sales data_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_Status",
								"value": "Failed"
							}
						},
						{
							"name": "Set Success Status_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy web store online sales data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_Status",
								"value": "Success"
							}
						},
						{
							"name": "Log metadata Success_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Success Status_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Utilitylog_Pipeline_metadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Snapshotdate": {
										"value": "@formatDateTime(pipeline().parameters.SnapshotDate,'yyyy-MM-dd')",
										"type": "Expression"
									},
									"RunID": {
										"value": "@pipeline().parameters.RunID",
										"type": "Expression"
									},
									"Status": {
										"value": "@variables('v_Status')",
										"type": "Expression"
									},
									"SourceToTargetID": {
										"value": "@item().SourceToTargetID",
										"type": "Expression"
									},
									"PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"SystemCode": {
										"value": "@pipeline().parameters.Systemcode",
										"type": "Expression"
									},
									"DataSetName": {
										"value": "@pipeline().parameters.Dataset",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log metadata Fail_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Success Failure_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Utilitylog_Pipeline_metadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Snapshotdate": {
										"value": "@formatDateTime(pipeline().parameters.SnapshotDate,'yyyy-MM-dd')",
										"type": "Expression"
									},
									"RunID": {
										"value": "@pipeline().parameters.RunID",
										"type": "Expression"
									},
									"Status": {
										"value": "@variables('v_Status')",
										"type": "Expression"
									},
									"SourceToTargetID": {
										"value": "@item().SourceToTargetID",
										"type": "Expression"
									},
									"PipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"PipelineID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"SystemCode": {
										"value": "@pipeline().parameters.Systemcode",
										"type": "Expression"
									},
									"DataSetName": {
										"value": "@pipeline().parameters.Dataset",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Systemcode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"Dataset": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"RunID": {
				"type": "string",
				"defaultValue": "1"
			},
			"SnapshotDate": {
				"type": "string",
				"defaultValue": "2023-10-29"
			}
		},
		"variables": {
			"v_Status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"v_stage": {
				"type": "String",
				"defaultValue": "SOURCE_TO_RAW"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T05:38:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}