pipeline/PL_Orch_Daily_batch_run.json
{
	"name": "PL_Orch_Daily_batch_run",
	"properties": {
		"description": "Daily batch run Orchestration of ingestion PL",
		"activities": [
			{
				"name": "Get the batch run details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetBatch]",
						"storedProcedureParameters": {
							"PFrequency": {
								"type": "String",
								"value": {
									"value": "@variables('v_frequency')",
									"type": "Expression"
								}
							},
							"PSystemCode": {
								"type": "String",
								"value": {
									"value": "@variables('v_systemcode')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_batch_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach batch run information",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get the batch run details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get the batch run details').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run Ingestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_data_ingestion_json_v6",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Systemcode": {
										"value": "@item().variables('v_systemcode')",
										"type": "Expression"
									},
									"Dataset": {
										"value": "@item().datasetName",
										"type": "Expression"
									},
									"RunID": {
										"value": "@item().RunID",
										"type": "Expression"
									},
									"SnapshotDate": {
										"value": "@item().SnapshotDate",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set batch status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach batch run information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SetBatchStatus]",
					"storedProcedureParameters": {
						"PFrequency": {
							"value": {
								"value": "@variables('v_frequency')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PSystemCode": {
							"value": {
								"value": "@variables('v_systemcode')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_asql_data_dataengineering_metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_frequency": {
				"type": "String",
				"defaultValue": "DAILY"
			},
			"v_systemcode": {
				"type": "String",
				"defaultValue": "OWS"
			}
		},
		"folder": {
			"name": "Orchestration"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T07:48:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}